**/python
*.terraform*
*/zip/
*bootstrap*
**/__pycache__*
**zip*
!**/src/test/java
!**/src/test/resources
# Remove the general "test" folder ignore since we want to commit the Java tests
#**/test*
.DS_Store
**/.env
.idea
terraform/variable_secrets.tf
node_modules
/logs
